body{
	margin: 0;
	padding: 0;
	font-style: 15px;
    background-color: #EADFCE;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
    height: 100px;
    background: #429B42;
    color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #bfbac2;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;

}
header nav{
	float: right;
	margin-top: 10px;
}

.li.dropdown {
	display: inline-block;
	padding-bottom: 20px;
}

.dropdown:hover .isi-dropdown {
	display: block;
}

.isi-dropdown a:hover {
	color: #EADFCE;
}

.isi-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #EADFCE;
	padding-bottom: 10px;
}

.isi-dropdown a {
	color: #3c3c3c;
}

.isi-dropdown a:hover {
	color: #232323;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
	margin-top: 5px;
}

header a{
	color: #0a0a0a;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
ul{
	margin: 0;
	padding: 0;
}

header #branding, header .active a{
	color: #fff;
	font-weight: bold;
}

header a:hover{
	color: #79767a;
	font-weight: bold;
}

/* css untuk mengatur tabel */
.kekurangan{
	padding-top: 40px;
	padding-bottom: 40px;
}
.sub_lebih{
	text-align: center;
	font-size: 18px;
	word-spacing: 8px;
	line-height: 1.5;
	padding-left: 90px;
	padding-right: 90px;
}
.deskripsi{
	text-align: center;
	font-size: 18px;
	word-spacing: 8px;
    line-height: 1.5;
	padding-left: 90px;
	padding-right: 90px;
}

table th {
    background:#161411;
    color:#DCDCDC;
    font-weight:bold;
    font-size:14px;
}
.table th td{
	background: #47a87b;
	color: #fff;
	font-weight: normal;
}
.table, th, td{
	padding: 8px 20px;
	text-align: center;
}

table tr {
    background:#F5FFFA;
}
/* Mengatur warna baris genap (akan menghasilkan warna selang seling pada baris tabel) */
table tr:nth-child(even) {
    background:#94bb75;
}

/* bagian footer */
footer{
	padding: 20px;
	color: #fff;
	background: linear-gradient(to right,#79767a,#bfbac2 );

}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
   }
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
   }
   .footer-col{
	width: 25%;
	padding: 0 15px;
  }
  .row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/*responsive*/
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#boxes .box
	{
		float: none;
		width: 100%;
		text-align: center;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}
}
